.HomeContainer{
    width: 100%;

    

}

.imgProfile{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px blue solid;

    animation: girar 5s ease-in-out infinite;
    transform-style: preserve-3d;
}


.ParagrafoContainer{
    width: 45%;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}


.ParagrafoContainer p{
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}

.ParagrafoContainer p span{
    font-weight: bold;
}

@keyframes girar {
  0%   { transform: rotateY(0deg); }
  50%  { transform: rotateY(180deg); }
  100% { transform: rotateY(0deg); }
}

.ContainerProjectHome, .ContainerContactHome{
    width: 90%;
    padding: 4rem;
    margin-top: 2rem;

    border-top: 1px rgba(0, 0, 255, 0.55) dotted;

    margin: 5rem auto;
}


.titleSectionProject, .TitleContainerContact {
    font-size: 4rem;
    display: flex;
    align-self: self-start;

    margin-top: 2rem;
    margin-bottom: 2rem;


}


.ContainerProjectHome div{
    display: flex;
    justify-content: space-around;

}