.ContainerBanner{
    height: 30rem;
    position: relative;

}


.ContainerBanner .Banner{
    object-fit: cover;
    width: 100%;
    height: 30rem;
    opacity: 0.2;
    position: absolute;
    
    
}

.ContainerTitle{
    z-index: 55;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContainerBanner h1{
    font-size: 4rem;
}

.ContainerBanner h2{
    font-size: 3rem;
    color: #ddd;
}